<div>
    <div>
        Task
    </div>
    <ul>
        <li>
            <%= task.name %>
        </li>
        <li>
            <%= task.description %>
        </li>
        <li>
            <%= task.status %>
        </li>
    </ul>
</div>

